mixin videoPlayer(video={})
    .videoPlayer#jsVideoPlayer
        video(src=video.src, autoplay, type="video/mp4")
        .videoPlayer__controls#controls
            .vidoePlayer__column   
                span#jsVolumnButton
                    i.fas.fa-volume-up
                input.videoPlayer__volume#jsVolume(type="range",min="0",max="1",step="0.1",value="0.5", autocomplete="off", role="slider")
            .vidoePlayer__column
                span.timeControl
                    .custom-seekbar
                        span.show-time 
                    .display-time
                        span#currentTime 00:00
                        span / 
                        span#totalTime  00:00
            .vidoePlayer__column
                span#jsPlayButton
                    i.fas.fa-play
            .vidoePlayer__column#jsScreenButton
                span
                    i.fas.fa-expand