extends layouts/main
include mixins/videoBlock
block content
    .search_content
        .search__header
            .search_word #{searchingBy}
        .search__videos
            each item in videos
                +videoBlock({
                    id:item.id,
                    title:item.title,
                    views:item.views,
                    videoFile:item.fileUrl,
                    url:item.creator.avataUrl ? item.creator.avataUrl : "https://wetube12.s3.ap-northeast-2.amazonaws.com/default.jpg",
                    creatorId:item.creator.id,
                    creatorName:item.creator.name
                })
            if videos.length ===0
                h5 해당 검색어로 등록된 동영상이 없습니다.