
.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  button {
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 320px;
    display: flex;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    position: relative;
    span {
      max-width: 200px;
      margin-right: 10px;
      font-size: 16px;
      i{
        position: absolute;
        left: 10px;
      }
      img{
        position: absolute;
        left:10px;
        width:18px;
        height: 18px;
      }
    }
  }

  }
  .social-login--github {
    background-color: $black;
    color: white;
  }
  .social-login--facebook {
    background-color: #3a5998;
    color: white;
  }
  .social-login--google{
    background-color: #f04031;
  }
  .social-login--kakaotalk{
    background-color: #FEE500;
    color: #000000;
    ;
  }
