.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px;
  .videoBlock {
    width: 100%;
    overflow: hidden;
    justify-self: start;
    grid-column: span 2;
    max-height: 300px;
    &:hover {
      border: none;
      background: #bae7e0;
      color: #5a5034;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      position: relative;
      box-sizing: border-box;
      transition: all 500ms ease;
    }
    video {
      max-height: 200px;
      overflow: hidden;
      width: 100%;
    }
    .info{  
      .info_first{  
        display: flex;
        flex-direction: row;
        .avatar-url{
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
        .videoBlock__title{
          margin-left: 10px;
          height: 30px;
          line-height: 30px;
        }
    }  
    }
  }
}
