.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px;
  .videoBlock {
    max-width: 300px;
    overflow: hidden;
    &:hover {
      border: none;
      background: #bae7e0;
      color: #5a5034;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      position: relative;
      box-sizing: border-box;
      transition: all 500ms ease;
    }
  }
  .videoBlock:first-child,
  .videoBlock:nth-child(2),
     .videoBlock:nth-child(3),
  .videoBlock:nth-child(4),
  .videoBlock:nth-child(5) {
    grid-column: span 2;
    overflow: hidden;
    width: 100%;
    video {
      max-height: 300px;
      overflow: hidden;
      width: 100%;
    }
    max-height: 400px;
  }
}
